<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>
<form action="register" method="post">
    {% csrf_token %}
    Username   : <input type="text" name="username" placeholder="Enter your username"><br><br>
    First Name : <input type="text" name="first_name" placeholder="Enter your first name"><br><br>
    Last Name : <input type="text" name="last_name" placeholder="Enter your last name"><br><br>
    Email      : <input type="email" name="email" placeholder="Enter your eamil id"><br><br>
    Password   : <input type="password" name="password" placeholder="Enter your password"><br><br>
    Confirm password: <input type="password" name="cpassword" placeholder="Confirm your password"><br><br>
    <input type="submit">
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>